<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{{ name }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image:url" content="{{ site.url }}/media/meta{{ og.image.url }}">
    <meta property="og:image:alt" content="{{ og.image.alt }}">
    <meta property="og:image:width" content="{{ og.image.width }}">
    <meta property="og:image:height" content="{{ og.image.height }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">
    {% set css %}
      {% include "css/base.css" %}
      {% if layout === "splash.njk"  %}
      {% include "css/splash.css" %}
      {% endif %}
      {% if tags and 'game' in tags  %}
      {% include "css/game.css" %}
      {% endif %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {% if libraries === 'floatingui' %}
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.7.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.7.4"></script>
    {% endif %}
    {% set js %} 
      {% if tags and 'game' in tags  %}
        {% include "js/countdown.js" %} 
        {% include "js/game.js" %} 
      {% endif %}
      {% if libraries === "floatingui"  %}
        {% include "js/tooltip.js" %} 
      {% endif %}
    {% endset %}
    <script type="module">
      {{ js | jsmin | safe }}
    </script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
