---
layout: "base.njk"
---

<main>
  <div class="container">
    <h1>{{ site.name }}</h1>
    <div role="group">
      <a class="link--text" href="https://docs.google.com/presentation/d/1daHVWOHUHs6GDbRGbh_QTvfRdhreLHu0SqVtgkuq7Eo/edit?usp=sharing" target="_blank">Game guide <span class="sr-only">(opens Google Slides in a new tab)</span></a>
      <a class="link--button" href="/text/">Start</a>
    </div>
  </div>
</main>
<footer role="contentinfo">
  <a class="link--image" href="https://www.deque.com/axe-con/">
    <img src="media/axe-con-logo.svg" alt="axe-con 2026">
  </a>
</footer>
