---
layout: "base.njk"
---

<main>
  <div class="container">
    <h1>
      <a href="https://www.deque.com/axe-con/sessions/the-accessibility-impostors-game-show">{{ site.name }}</a>
    </h1>
    <p>Wednesday February 25th at 1:00pm US/Eastern</p>
  </div>
</main>
<footer role="contentinfo">
  <a href="https://www.deque.com/axe-con/">
    <img src="media/axe-con-logo.svg" alt="axe-con 2026">
  </a>
</footer>